<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fantasy.lulutong">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity">
        </activity>
        <activity android:name=".activity.me.LoginActivity">
        </activity>
        <activity android:name=".activity.me.RetrievePasswordActivity">
        </activity>
        <activity android:name=".activity.me.RegisterActivity">
        </activity>
        <activity android:name=".activity.me.InformActivity">
        </activity>
        <activity android:name=".activity.me.AboutActivity">
        </activity>
        <activity android:name=".activity.me.UserInfoActivity">
        </activity>
    </application>

</manifest>